@font-face {
  font-family: "iconfont"; /* Project id 4041300 */
  src: url('/icons/iconfont.woff2?t=1682517333447') format('woff2'),
       url('/icons/iconfont.woff?t=1682517333447') format('woff'),
       url('/icons/iconfont.ttf?t=1682517333447') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e65a";
}

.icon-date:before {
  content: "\e697";
}

.icon-wenjianxinxi:before {
  content: "\e655";
}

.icon-tag:before {
  content: "\e7f0";
}

.icon-arrow-right:before {
  content: "\e642";
}

.icon-arrow_drop_down:before {
  content: "\e601";
}

