body { 
  font-size: 18px;
  background-color: #f3f3ec;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid black;
  padding: 8px;
}

blockquote p{
  background-color: rgba(193, 23, 23, 0.201);
  border-radius: 3px;
  padding-left: 5px;
}
