<!DOCTYPE html>
<html lang="en">
    {{/*  html head  */}}
    {{- partial "head.html" . -}}
    <body class="d-flex flex-column min-vh-100">
        {{/*  html header  */}}
        {{- partial "header.html" . -}}

        {{/*  html main  */}}
        <div class="flex-fill container mx-auto mt-3">
           <div class="row">
                <div class="col-7 offset-2">
                    {{- block "main" . -}}
                    {{- end -}}
                </div>
                <div class="col-3">
                    {{- partial "sidebar.html" . -}}
                </div>
           </div>
        </div>

        {{/*  html footer  */}}
        {{- partial "footer.html" . -}}
        {{/*  html scripts  */}}
        {{- partial "scripts.html" . -}}
        {{/*  html analytics  */}}
        {{- partial "analytics.html" . -}}
    </body>
</html>
