{{ define "main" }}
<ul class="list-unstyled text-center">
    {{/*  {{ range where .Site.RegularPages "Type" "in" (slice "blog" "test")}}  */}}
    {{ range where .Site.RegularPages "Type" "==" "blog"}}
    <div class="row">
        <li class="h5">
            <em>
                {{ .Date.Format "2006-01" }} &nbsp;
            </em>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
    </div>
    {{ else }}
    <div class="alert alert-secondary my-3" role="alert">
        No posts yet
    </div>      
    {{ end }}
</ul>
{{ end }}