{{ define "main" }}
<ul class="list-unstyled text-center">
    {{ range where .Site.RegularPages "Type" "==" "blog"}}
    <div class="row">
        <li class="h5 d-flex align-items-center">
            <div class="col-3">
                <em>
                    {{ .Date.Format "2006-01-02" }} &nbsp;
                </em>
            </div>
            <div class="col-9">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        </li>
    </div>
    {{ else }}
    <div class="alert alert-secondary my-3" role="alert">
        No posts yet
    </div>      
    {{ end }}
</ul>
{{ end }}
